body {
    margin: 0px;
    padding: 10px;
    height: 850px;
    width: 600px;
    font-family: 'Passion One', cursive;
}

#myCanvas{
    position: relative;
    border: 1px solid #000;
    background: url('../img/background.jpg') no-repeat;
    display: none;
}

#container {
    position: relative;
    height: 800px;
    width: 90%;
    border: 1px solid navy;
    background-color:lightblue;
    margin-left: 4%;
    overflow: hidden;
}

    #myCanvas{
        width: 95%;
        width: 800px;
        position: relative;
        border: 1px solid #000;
        margin-left: 4%;
        background: url('../img/background.jpg') no-repeat;
        display: none;
    }

#bird {
    position: absolute;
    background: url('../img/bird1.png');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}



.pole {
    position: absolute;
    height: 200px;
    width: 50px;
    background: url('../img/poles.png');
    right: -50px;
}

#pole_1{
    top: 0;
    //background: url('../img/top_pole.png');
}

#pole_2{
    bottom: 0;
    //background: url('../img/bottom_pole.png');
}

#score_div{
    text-align: center;
    font-size: 20px;
}

.game_btns{
    display:inline-block;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
}

#restart_btn{
    display: none;
}

context{
    font-family: 'Passion One', cursive;
    font-size: 24px;
}