body {
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 100%;
    font-family: 'Passion One', cursive;
}

.gameOver{
    margin: 30px;
    padding: 20px;
    width: 80%;
    font-size: 50px;
    text-align: center;
}

#container {
    position: relative;
    height: 500px;
    width: 90%;
    border: 1px solid navy;
    background-color:lightblue;
    margin-left: 4%;
    overflow: hidden;
}

#bird {
    position: absolute;
    background: url('../img/bird1.png');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.pole {
    position: absolute;
    height: 190px;
    width: 50px;
    background-color: green;
    right: -50px;
}

#pole_1{
    top: 0;
}

#pole_2{
    bottom: 0;
}

#score_div{
    text-align: center;
    font-size: 30px;
}

.game_btns{
    display:inline-block;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
}

#restart_btn{
    display: none;
}